
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #003C52;
}


/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 350%;
  line-height: 1.5;
}

.section-heading {
  font-size: 300%;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ef8172;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 56px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 40px;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 19.2px;
  font-family: "Montserrat-Light";
}

/* Title Section */

#title {
  background-color: #ef8172;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Title Image */

.title-image {
  width: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 15%;
  border-radius: 100%;


}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 24px;
}



.icon {
  color: #ef8172;
  margin-bottom: 16px;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 48px;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#subscriptions {
  background-color: #ffffff;

}

.subscriptions-logo {
  width: 15%;
  margin: 20px 20px 50px;


}

.subscriptions-heading {
  color: #000000;
  padding-top: 50px;
}
/* Pricing Section */

#pricing {
  padding-bottom: 100px;
}

.price-text {
  font-size: 48px;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Solutions Section */
.solutions-heading{
  padding-top: 10px;
  padding-bottom: 50px;
}

/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}
