/* General */

body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #131936;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {

  color: #131936;
}

.solutions-section {
  padding: 50px 0 50px 0;
}

.call-to-action-section {
  background-color: #f1f1f1;
}

/* Navbar */
.brand-name{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: 700;
  text-shadow: 1px 1px 1px #f1f1f1,
    1px 2px 1px #f1f1f1,
    1px 3px 1px #f1f1f1,
    1px 4px 1px #f1f1f1,
    1px 5px 1px #f1f1f1,
    1px 6px 1px #f1f1f1,
    1px 7px 1px #f1f1f1,
    1px 8px 1px #f1f1f1,
    1px 9px 1px #f1f1f1,
    1px 10px 1px #f1f1f1,
  1px 18px 6px rgba(241,241,241,1),
  1px 22px 10px rgba(241,241,241,1),
  1px 25px 35px rgba(241,241,241,1),
  1px 30px 60px rgba(241,241,241,1);

}

.navbar {
    padding-top: 25px;
    padding-bottom: 25px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1rem;
    letter-spacing: 5px;

}

.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.brand-name-span1{
  color: #003C52;

}

.brand-name-span2{
  color: #1abc9c;

}

/* Slider Sections */
#slider {
  background-color: #f1f1f1;
}

.slider-text {
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 35px;
}

.slider-image {
  width: 25%;
  border-radius: 100%;

}

/* icons */

.icon {
  color: #131936;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #1abc9c;
}

/* Businesses Solutions */
.solutions-heading {
  padding-bottom: 35px;

}

.solutions-text{
  padding-bottom: 35px;

  padding-left: 150px;
  padding-right: 150px;
}

/* Pricing section */
.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-heading{
  padding: 35px 0 35px 0;

}

/* Footer Section */
.social-icon {
  margin: 20px 10px;
}
